In [46]:
import pandas as pd

In [48]:
df = pd.read_csv("./db/clean/stats.csv")

In [49]:
df

        Id  R         Name        Team  Year  Pv   Mv    Fm
0     2428  P       Sommer       Inter  2024   1  5.5   6.5
1     5876  P  Di Gregorio    Juventus  2024   0  0.0   0.0
2      572  P        Meret      Napoli  2024   1  6.0   3.0
3     4312  P      Maignan       Milan  2024   1  7.0   5.0
4     4431  P  Carnesecchi    Atalanta  2024   0  0.0   0.0
...    ... ..          ...         ...   ...  ..  ...   ...
3894  4527  A     Pedro G.  Fiorentina  2019   3  5.5   5.5
3895  4862  A   Diallo Am.    Atalanta  2019   1  7.0  10.0
3896  4865  A     Cleonise       Genoa  2019   2  6.0   6.0
3897  4923  A      Colombo       Milan  2019   0  0.0   0.0
3898  4940  A     Gagliano    Cagliari  2019   1  7.5  11.5

[3899 rows x 8 columns]